/* Dark Theme Colors */
$dark: #474747;
$dark-100: #353638;
$dark-200: #303033;
$dark-300: #313238;
$dark-400: #32333f;
$dark-500: #2d2f3f;
$dark-600: #44475e;
$dark-700: #101013;
$dark-800: #000000;


/* Light Theme Colors */
$white: #FFFFFF;
$white-100: #FAF9F6;
$white-200: #ece6e6;
$white-300: #F4F6F8;
$white-400: #b6b3b3;
$white-500: #998f8f;
$white-600: #918787;
$white-700: #aa9191;
$white-800: #9b8585;

$gray: gray;
$light-gray: lightgray;
$lime: lime;